<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
    <session-factory>
        <!-- חיבור למסד הנתונים -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/restaurantDB1?useSSL=false&amp;serverTimezone=UTC</property> <!--changed database name here and in hibernate.properties file!-->
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">abcd1234</property>  <!-- change to your password here -->

        <!-- Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- אפשרויות דיבאג -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!-- יצירת טבלה אוטומטית (רק בעת פיתוח, לא בשימוש בייצור) -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- מיפוי מחלקות  -->
        <mapping class="il.cshaifasweng.OCSFMediatorExample.entities.Branch" />
        <mapping class="il.cshaifasweng.OCSFMediatorExample.entities.MenuItem"/>
        <mapping class="il.cshaifasweng.OCSFMediatorExample.entities.Employee"/>
        <mapping class="il.cshaifasweng.OCSFMediatorExample.entities.RestTable"/>
        <mapping class="il.cshaifasweng.OCSFMediatorExample.entities.Delivery"/>
        <mapping class="il.cshaifasweng.OCSFMediatorExample.entities.Customer" />
        <mapping class="il.cshaifasweng.OCSFMediatorExample.entities.OrderItem" />
        <mapping class="il.cshaifasweng.OCSFMediatorExample.entities.ResInfo" />
        <mapping class="il.cshaifasweng.OCSFMediatorExample.entities.Complaint" />


    </session-factory>
</hibernate-configuration>
